# Custom
data-bin
checkpoints
logs
lightning_logs
*.ipynb
runs
*.pt
*.onnx
yolort/version.py
.idea
*.ttf
wandb

# macOS dir files
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
test-output.xml
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
__pycache__
*.pyc
*.pyd

# Compiled cpp directory
build

# Executables
*.exe
*.out
*.app

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# VS Code settings
*.vscode

# Generated documentation
_site
doxygen

# LevelDB files
*.sst
*.ldb
LOCK
CURRENT
MANIFEST-*
