# Copyright (c) Facebook, Inc. and its affiliates. All rights reserved.
#
# This source code is licensed under the BSD license found in the
# LICENSE file in the root directory of this source tree.


{%-
set external_urls = {
  'github': 'https://github.com/zhiqwang/yolov5-rt-stack',
  'github_issues': 'https://github.com/zhiqwang/yolov5-rt-stack/issues',
  'contributing': 'https://github.com/zhiqwang/yolov5-rt-stack/blob/main/CONTRIBUTING.md',
  'docs': 'https://github.com/zhiqwang/yolov5-rt-stack',
  'home': 'https://github.com/zhiqwang/yolov5-rt-stack',
  'get_started': 'https://github.com/zhiqwang/yolov5-rt-stack/blob/main/README.md',
}
-%}
{%-
set og = {
  'description': 'API docs for yolort. yolort is a runtime stack for yolov5 on specialized accelerators.'
}
-%}
